.button {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem 1rem;
  background-color: #a990fb;
  color: #2a2630;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #8c6cf7;
}

.ListItem {
  color: white;
  list-style-type: none;
  display: inline-flex;
  box-sizing: border-box;
  width: 35%;
  box-shadow: #2a2630;
  border-radius: 10px;
  padding: 4px;
  font-weight: bold;
  background-color: #a990fb;
  color: #2a2630;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

@media screen and (max-width: 450px) {
  .ListItem {
    padding: 0px;
  }
}

.title {
  margin: 10px;
}
.titleLine {
  margin: 10px;
  text-decoration: line-through;
}

